@{
    ViewData["Title"] = "Home";
}

<!DOCTYPE html>
<html>
<head>
	<title>My Finance Web</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Cores principais -->
	<style>
		body {
			background-color: #D0D2D0;
			color: #56B362;
		}
		h1 {
			color: #07FF28;
			text-align: center;
			margin-top: 50px;
		}
		.bold {
			font-weight: bold;
		}
		img {
			display: inline-block;
			width: 50px;
			height: 50px;
			margin-right: 10px;
			margin-left: -60px;
		}
	</style>
</head>
<body>
	<header>
		<img src="https://images.emojiterra.com/google/noto-emoji/v2.034/128px/1f4b2.png">
		<h1><span class="bold">My Finance Web</span></h1>
	</header>
	<main>
		<p>Seja bem-vindo(a) ao <span class="bold">My Finance Web</span>! Projeto da disciplina Práticas de Implementação e Evolução de Software do programa de Pós-Graduação da PUC Minas.</p>
		<p>Confira o repositório no GitHub para mais conteúdo:</p>
		<a href="https://github.com/danber2512">https://github.com/danber2512</a>
	</main>
	<footer>
		<p><span class="bold">My Finance Web</span></p>
	</footer>
</body>
</html>
